
body {
  background: var(--red);

    div {
      display: grid;
      user-select: none;
      grid-template-columns: repeat(3, 1fr); 

      &:hover {
        background: $test;
        transition: all .5s;
      }
    }

}