:root {
  --red: #fca0a0;
}

body {
  background: var(--red);

    div {
      display: grid;
      user-select: none;

      &:hover {
        background: yellow;
        transition: all .5s;
      }
    }

}